*{
    margin : 0;
    padding : 0;
}


body{
    background-color: white;

}
h1{
   font-family: Monotype Corsiva ;
   font-size: 70px;
   text-align: center;
}
.container {
    display: flex;
    align-items: center;
}

.left-image {
    width: 100%;
   text-align: left;
    
}

.center-title {
    flex: 1; 
    text-align: center;
}

.right-images {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    text-align: right;
}
#containergrand{
    /* width: 1825px; */
    /*height: 600px; */
    display: flex;
   background-color: #ffffff;
   border-radius: 3%;
   border: 2px solid #000; /* Bordure de 2 pixels d'épaisseur, solide et noire */
   overflow: hidden;
   margin-left: 10px;
   margin-right: 10px;
}

#containergrand input {
    text-align: center;
    margin-block: auto;
}

#containergrand select {
    text-align: center;
    margin-block-end: auto;
}

 #containergrand .input-container {
    margin-left: 0%;
    justify-content: space-between;
}


#containergrand img {
    max-width: auto;
    height: 100%; /* Laisse la hauteur s'ajuster automatiquement à la hauteur du conteneur */
    float: left;
    display: flex;

}



.pied-de-page {
    background-color: #EFF0F4;
    color: #505762;
    padding: 40px; /* Rembourrage pour le pied de page */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@media screen and (max-width: 578px) {
    .pied-de-page {
        flex-direction: column;
    }
}

.pied-de-page {
    position: relative;
}
    
    
span{
    text-decoration: underline;
}

